<div class="d-flex flex-column flex-lg-row">
  <!--begin::Content-->
  <div class="flex-lg-row-fluid ms-lg-10">
    <!--begin::Card-->
    <div class="card card-flush mb-6 mb-xl-9">
      <!--begin::Card header-->
      <div class="card-header pt-5">
        <!--begin::Card title-->
        <div class="card-title">
          <h2 class="d-flex align-items-center">
            Users Assigned
            <!-- <ng-container *ngIf="role$ | async as role">
              <span class="text-gray-600 fs-6 ms-1"
                >({{ role.users.length }})</span
              >
            </ng-container> -->
          </h2>
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar"></div>
        <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Table-->
        <app-crud
          [datatableConfig]="datatableConfig"
          [reload]="reloadEvent"
        ></app-crud>
        <!--end::Table-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Content-->
</div>
