<ng-container *ngIf="uid">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <img alt="Logo" src="./assets/media/avatars/300-3.jpg" />
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ user?.name }}
        </div>
        <a class="fw-bold text-muted fs-7">
          {{ user?.email }}
        </a>
      </div>
    </div>
  </div>

  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <span class="fw-bold text-muted fs-7">
        Last Login: {{ user?.lastLogin | date : "medium" }}
      </span>
    </div>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer"> Sign Out </a>
  </div>
</ng-container>
