<div class="card">
  <div class="card-body pt-0">
    <div class="card-body py-3">
      <!-- Table container -->
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle gs-0 gy-4">
          <!-- Table head -->
          <thead>
            <tr class="fw-bolder text-muted bg-light">
              <th class="ps-4 min-w-300px rounded-start">Name</th>
              <th class="min-w-125px">Last Login</th>
              <th class="min-w-125px">Joined Date</th>
              <th class="min-w-200px">Role(s)</th>
              <th class="min-w-200px text-end rounded-end">Actions</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <!-- Loop through userList -->
            <tr *ngFor="let user of displayList">
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-50px me-5">
                    <span class="symbol-label bg-light">
                      <img src="./assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                    </span>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder mb-1 fs-6">
                      {{ user.name }}
                    </span>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      {{ user.email }}
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <div class="badge badge-light fw-bold">
                  {{ user.lastLogin }}
                </div>
              </td>
              <td>
                <div class="badge badge-light fw-bold">
                  {{ user.joinDate }}
                </div>
              </td>
              <td>
                <!-- Tag-style roles with additional styling -->
                <div class="role-tags">
                  <span *ngFor="let role of user.roles" class="role-tag">
                    {{ role }}
                  </span>
                </div>
              </td>
              <td class="text-end">
                <span class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4 me-2"
                  (click)="openViewModal(user)">
                  View
                </span>
                <span class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4 me-2"
                  (click)="openEditModal(user)">
                  Edit Role
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
  </div>
</div>