<div id="alertMessage" class="alert" role="alert"></div>
<ng-container *ngIf="order$ | async as order">
    
    <div *ngIf="!editMode">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Details</h4>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Order ID:</strong> {{ order.id }}</li>
                    <li class="list-group-item"><strong>Customer Name:</strong> {{order.name}}</li>
                    <li class="list-group-item"><strong>Date Ordered:</strong> {{ parseDate(order.date)}}</li>
                    <li class="list-group-item"><strong>Order Status:</strong> {{order.orderStatus}}</li>
                    <li class="list-group-item"><strong>Delivery Status:</strong> {{order.deliveryStatus}}</li>
                    <li class="list-group-item"><strong>Total Amount:</strong> ${{order.totalAmount}}</li>
                </ul>
                <br>
                <div *ngIf="isLogistic" style="margin-top: 1%;">
                    <button class="btn btn-primary btn-sm" (click)="toggleEditMode(order)">Update Order Status</button>
                    &nbsp;
                    <button class="btn btn-danger btn-sm " (click)="deleteOrder(orderId)">Delete Order</button>
                    &nbsp;
                    <button class="btn btn-secondary btn-sm" (click)="back()">Back</button>
                </div>
                <div *ngIf="!isLogistic" style="margin-top: 1%;">
                    <button class="btn btn-secondary btn-sm" (click)="back()">Back</button>
                </div>
              
            </div>
          </div>
    </div>
    <div *ngIf="editMode">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Update Order Details</h4>
              
              <form [formGroup]="editOrderForm" (ngSubmit)="updateOrder(order)">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Order ID:</strong> {{ order.id }}
                    </li>
                    <li class="list-group-item">
                        <strong>Customer Name:</strong> {{order.name}}
                    </li>
                    <li class="list-group-item">
                        <strong>Date Ordered:</strong> {{ parseDate(order.date)}}
                    </li>
                    <li class="list-group-item">
                        <label for="status"><strong>Order Status: </strong></label>
                        &nbsp;
                        <select id="status" formControlName="orderStatus">
                            <option value="">Select a status</option>
                            <option value="Processing">Processing</option>
                            <option value="Completed">Completed</option>
                            <option value="Returned">Returned</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="status"><strong>Delivery Status: </strong></label>
                        &nbsp;
                        <select id="status" formControlName="deliveryStatus">
                            <option value="">Select a status</option>
                            <option value="Preparing to be shipped">Preparing to be shipped</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Out for Delivery">Out for Delivery</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <strong>Total Amount:</strong> ${{order.totalAmount}}
                    </li>
                </ul>
                <div style="margin-top: 1%;">
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button type="button" class="btn btn-secondary" (click)="toggleEditMode(order)">Cancel</button>
                </div>
              </form>
              <br>
            </div>
          </div>
    </div>

    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Products</h4>
            <table class="table-light" style="width: 100%; padding:2%;">
                <thead class="table-primary">
                    <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let orderItem of orderItems$ | async"  style="border-bottom: 1px solid #ccc;">
                        <td>{{orderItem.productId}}</td>
                        <td>{{orderItem.productName}}</td>
                        <td>{{orderItem.price}}</td>
                        <td>{{orderItem.quantity}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>

    
    </div>    
</ng-container>    

