<div id="alertMessage" class="alert" role="alert"></div>

<form [formGroup]="productForm" #productFormElem (ngSubmit)="saveProduct()">
  <div class="card">
    <div class="card-body">
      <div class="form-group row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input id="name" formControlName="name" class="form-control" placeholder="Enter your name"
            aria-describedby="nameHelpBlock" />
          <small id="nameHelpBlock" class="form-text text-muted">
            Your name must be between 1 and 30 characters.
          </small>
          <div
            *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('name')?.errors?.['required']">Name is required.</span>
            <span *ngIf="productForm.get('name')?.errors?.['maxlength']">Name cannot exceed 30 characters.</span>
          </div>
        </div>
      </div>

      <input type="hidden" formControlName="categoryId">
      <div class="form-group row mb-3">
        <label for="category" class="col-sm-2 col-form-label">Category:</label>
        <div class="col-sm-10">
          <select id="category" formControlName="category" class="form-select" (change)="onCategoryChange($event)"
            aria-describedby="categoryHelpBlock">
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.name">
              {{ category.name }}
            </option>
          </select>
          <small id="categoryHelpBlock" class="form-text text-muted">
            Please select a category from the list.
          </small>
          <div
            *ngIf="productForm.get('category')?.invalid && (productForm.get('category')?.dirty || productForm.get('category')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('category')?.errors?.['required']">Category is required.</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
          <textarea id="description" formControlName="description" class="form-control"
            placeholder="Enter a description" aria-describedby="descriptionHelpBlock" rows="3"></textarea>
          <small id="descriptionHelpBlock" class="form-text text-muted">
            Description must be between 1 and 100 characters.
          </small>
          <div
            *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('description')?.errors?.['required']">Description is required.</span>
            <span *ngIf="productForm.get('description')?.errors?.['maxlength']">Description cannot exceed 100
              characters.</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="imageUrl" class="col-sm-2 col-form-label">Image URL:</label>
        <div class="col-sm-10">
          <input id="imageUrl" formControlName="imageUrl" class="form-control" placeholder="Enter the image URL"
            aria-describedby="imageUrlHelpBlock" />
          <small id="imageUrlHelpBlock" class="form-text text-muted">
            URL should point to a valid image file (jpg, jpeg, png, gif).
          </small>
          <div
            *ngIf="productForm.get('imageUrl')?.invalid && (productForm.get('imageUrl')?.dirty || productForm.get('imageUrl')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('imageUrl')?.errors?.['required']">Image URL is required.</span>
            <span *ngIf="productForm.get('imageUrl')?.errors?.['invalidImageUrl']">Invalid URL format.</span>
            <span *ngIf="productForm.get('imageUrl')?.errors?.['invalidImageExtension']">URL must point to a valid image
              file (jpg, jpeg, png, gif).</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
          <input id="price" type="number" formControlName="price" class="form-control" placeholder="Enter the price"
            aria-describedby="priceHelpBlock" min="0" />
          <small id="priceHelpBlock" class="form-text text-muted">
            Enter the price as a number (minimum 0).
          </small>
          <div
            *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</span>
            <span *ngIf="productForm.get('price')?.errors?.['invalidPrice']">Invalid price.</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="stockQuantity" class="col-sm-2 col-form-label">Stock:</label>
        <div class="col-sm-10">
          <input id="stockQuantity" type="number" formControlName="stockQuantity" class="form-control"
            placeholder="Enter stock quantity" aria-describedby="stockQuantityHelpBlock" min="0" />
          <small id="stockQuantityHelpBlock" class="form-text text-muted">
            Stock quantity must be a positive number.
          </small>
          <div
            *ngIf="productForm.get('stockQuantity')?.invalid && (productForm.get('stockQuantity')?.dirty || productForm.get('stockQuantity')?.touched)"
            class="text-danger mt-2">
            <span *ngIf="productForm.get('stockQuantity')?.errors?.['required']">Stock Quantity is required.</span>
            <span *ngIf="productForm.get('stockQuantity')?.errors?.['invalidNumber']">Invalid number.</span>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2 mt-3">
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="!productForm.valid"
          aria-disabled="!productForm.valid">
          Save Product
        </button>

        <button class="btn btn-secondary btn-sm" type="button" (click)="resetForm()">
          Cancel
        </button>
      </div>

      <div *ngIf="errorMessage" class="text-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <br>
</form>

<div class="d-flex flex-column align-items-center mb-3">
  <label for="filterCategory" class="fw-bold fs-5">
    Filter by Category:
  </label>
  <select id="filterCategory" class="form-select" (change)="filterProducts($event)" aria-label="Filter by category">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category.name">
      {{ category.name }}
    </option>
  </select>
</div>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let product of products$ | async" class="col">
    <div class="card h-100">
      <img src="{{product.imageUrl}}" alt="{{ product.name }} image" class="card-img-top"
        style="height: 20vw; object-fit: cover;" />
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-subtitle text-muted mb-2">{{ product.category }}</p>
          <p class="card-text">Description: {{ product.description }}</p>
          <p class="card-text">Price: {{ product.price | currency }}</p>
          <p class="card-text">Stock: {{ product.stockQuantity }}</p>
        </div>
        <div class="d-flex gap-2 mt-3">
          <button class="btn btn-primary btn-sm" type="button" (click)="editProduct(product)" aria-label="Edit product">
            Edit
          </button>
          <button class="btn btn-danger btn-sm" type="button" (click)="deleteProduct(product.id)"
            aria-label="Delete product">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>