<!-- Testing -->
<div>
  <h2> TESTING (PRODUCT MANAGEMENT) </h2>
  <br>

  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <table style="width: 100%; border-collapse: collapse;">
      <tr>
        <td><label for="category">Category:</label></td>
        <td>
          <select id="category" formControlName="category">
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="description">Description:</label></td>
        <td><input id="description" formControlName="description" placeholder="Description"></td>
      </tr>
      <tr>
        <td><label for="imageUrl">Image URL:</label></td>
        <td><input id="imageUrl" formControlName="imageUrl" placeholder="Image URL"></td>
      </tr>
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input id="name" formControlName="name" placeholder="Name"></td>
      </tr>
      <tr>
        <td><label for="price">Price:</label></td>
        <td><input id="price" type="number" formControlName="price" placeholder="Price"></td>
      </tr>
      <tr>
        <td><label for="stockQuantity">Stock Quantity:</label></td>
        <td><input id="stockQuantity" type="number" formControlName="stockQuantity" placeholder="Stock Quantity"></td>
      </tr>
    </table>
    <div style="text-align: center; margin-top: 20px;">
      <button type="submit">Add Product</button>
    </div>
  </form>
  
  

  <br><br><br>

  <table style="width: 100%; border-collapse: separate; border-spacing: 10px;">
    <thead>
      <tr>
        <th style="padding: 0 15px;">Category</th>
        <th style="padding: 0 15px;">Name</th>
        <th style="padding: 0 15px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async">
        <td style="padding: 0 15px;">{{product.category}}</td>
        <td style="padding: 0 15px;">{{product.name}}</td>
        <td style="padding: 0 15px;">
          <button (click)="deleteProduct(product.id)">Delete Product</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  

  <br><br><br>
</div>
<!-- Testing -->

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"
      img="./assets/media/patterns/vector-1.png"></app-cards-widget20>

    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"
      labelColor="dark" textColor="gray-300"></app-cards-widget7>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>
    <app-lists-widget26 class="h-lg-50"></app-lists-widget26>
  </div>
  <!--end::Col-->


  <!--begin::Col-->
  <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10>
  <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
  <!--begin::Col-->
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->

<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
  </div>
</div>
<!-- end::Row -->

<div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
    </app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div>

<!-- begin:: Modal example -->
<!-- <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
